.top {
  background-color: black;
  width: 100%;
  max-width: 960px;
  min-width: 360px;
  min-height: 100px;
  margin: 0 auto 40px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top span {
  font-size: 40px;
  align-text: center;
  color: white;
}
.grid {
  width: 100%;
  max-width: 960px;
  min-width: 360px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 1px solid red;
}
.grid .album-item {
  background-color: black;
  min-height: 200px;
  font-size: 30px;
  color: white;
  margin: 0 10px 20px;
  flex: 1 1 calc(5%);
  display: flex;
  justify-content: center;
  align-items: center;
}
