.test {
  display: flex;
  border: 1px solid red;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
}
.album {
  border: 1px solid black;
}
.album .album-name {
  text-align: center;
}
